<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/add}">Add a Department</a>
<table class="table">
    <thead>
    <tr>

        <th scope="col">Department Name</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="department:${departments}">
        <th scope="row"></th>
        <td th:text="${department.name}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${department.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${department.id})}">Details</a>
            <a th:href="@{/addemployees/{id}(id=${department.id})}">Add Employee</a>
            <a th:href="@{/delete/{id}(id=${department.id})}">Delete</a>
        </td>
    </tr>
</body>
</html>