<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Show ALL Departments</a><br/>
<h2>Department</h2>
Name:<span th:text="${department.name}"></span><br/>


Employees:
<ul th:href="@{/addemployees}">
    <th:block th:each="employee : ${department.employees}">
        <div th:if="${employee.headshot} !=null">
            <img th:src="${employee.headshot}" />
            <hr />
        </div>
        <li th:inline="text">[[${employee.firstName}]] [[${employee.lastName}]]</li>
        <li th:inline="text">[[${employee.position}]]</li>
    </th:block>
</ul>
</body>
</html>

